*body{
    padding: 0;
    margin: 0;
}

.page-maker{
    background-color :blue;
    height: 50px;
    width: 100%;
}
.page-maker1{
    background-color: yellow;
    height: 500px;
    width: 100%;
}
.page-maker2{
    background-color: red;
    height: 50px;
    width: 100%;
}
