.page-wrapper-main{
    background-color:darkblue;
    height: 450px;
    width: 700px;
}
.page-wrapper1{
    background-color:rgb(18, 211, 60);
    height: 100px;
    width: 550px;
    margin-left: 80px;
    margin-right: 80px;
}
.page-wrapper2{
    background-color:rgb(223, 145, 145);
    height: 250px;
    width: 550px;
    margin-left: 80px;
    margin-right: 80px;
}
.page-wrapper3{
    background-color:rgb(204, 26, 26);
    height: 100px;
    width: 550px;
    margin-left: 80px;
    margin-right: 80px;
}
